
# Non english language files, use https://crowdin.com/project/garrysmod for suggesting changes to that
!/garrysmod/resource/localization/en
/garrysmod/resource/localization
/garrysmod/resource/closecaption_*

# Root directory - ignore everything but garrysmod directory and repo files
/*
!/garrysmod
!/.gitignore
!/README.md
!/CONTRIBUTING.md


# garrysmod directory - Only allow repo files
/garrysmod/*
!/garrysmod/cfg
!/garrysmod/gamemodes
!/garrysmod/html
!/garrysmod/lua
!/garrysmod/resources
!/garrysmod/scripts
!/garrysmod/settings
!/garrysmod/detail.vbsp
!/garrysmod/gameinfo.txt
!/garrysmod/lights.rad

# Don't add user config files
/garrysmod/cfg/*
garrysmod/settings/addonpresets.txt

# Don't add spawnlists
/garrysmod/settings/spawnlist/*

# Only default gamemodes
garrysmod/gamemodes/*
!garrysmod/gamemodes/base
!garrysmod/gamemodes/sandbox
!garrysmod/gamemodes/terrortown

