<div class="page" ng-controller="ControllerAddons">
	<div class="options">
		<ul>
			<li><h2 ng-tranny="'addons'"></h2></li>

			<li>
				<a class="{{IfElse( Category == 'subscribed', 'active', '' )}}" ng-click="Switch( 'subscribed', 0 )" ng-Tranny="'addons.subscribed'"></a>
				<ul ng-show="Category == 'subscribed'" class="submenu">
					<li ng-repeat="tag in AddonTypes" class="clickable {{IfElse( Tagged == tag, 'active', 'notactive' )}}">
						<a ng-click="SwitchWithTag( 'subscribed', 0, tag )" ng-Tranny="'addons.'+tag" ng-show="tag != ''" class="{{IfElse( Tagged == tag, 'active', 'notactive' )}}">{{subcat}}</a>
					</li>

					<!--<li>&nbsp;</li>-->
					<li><input type="text" class="search_bar" ng-tranny="'addons.search'" ng-model="SubscriptionSearchText" ng-change="HandleOnSearch()"/></li>
					<li>
						<input type="checkbox" ng-model="FilerEnabledOnly" ng-change="HandleFilterChange( 1 )"/>
						<label ng-Tranny="'addons.enabled_only'"></label>
					</li>
					<li>
						<input type="checkbox" ng-model="FilerDisabledOnly" ng-change="HandleFilterChange( 0 )"/>
						<label ng-Tranny="'addons.disabled_only'"></label>
					</li>
					<!--<li>&nbsp;</li>-->

					<container ng-show="!IsAnySelected()">
						<li><a ng-click="DisplayPopupMessage( 'addons.enableall.warning', EnableAllSubscribed )" ng-Tranny="'addons.enableall'"></a></li>
						<li><a ng-click="DisplayPopupMessage( 'addons.disableall.warning', DisableAllSubscribed )" ng-Tranny="'addons.disableall'"></a></li>
						<li><a ng-click="DisplayPopupMessage( 'addons.uninstallall.warning', UninstallAllSubscribed )" ng-Tranny="'addons.uninstallall'"></a></li>
					</container>

					<container ng-show="IsAnySelected()">
						<li><a ng-click="DisplayPopupMessage( 'addons.enable_selected.warning', EnableAllSelected )" ng-Tranny="'addons.enable_selected'"></a></li>
						<li><a ng-click="DisplayPopupMessage( 'addons.disable_selected.warning', DisableAllSelected )" ng-Tranny="'addons.disable_selected'"></a></li>
						<li><a ng-click="DisplayPopupMessage( 'addons.uninstall_selected.warning', UninstallAllSelected )" ng-Tranny="'addons.uninstall_selected'"></a></li>
						<li><a ng-click="UnselectAll()" ng-Tranny="'addons.unselectall'"></a></li>
					</container>
				</ul>
			</li>

			<li>&nbsp;</li>

			<li ng-repeat="cat in Categories" class="clickable {{IfElse( Category == cat, 'active', 'notactive' )}}">
				<a ng-click="SwitchWithTag( cat, 0, 'Addon' )" ng-Tranny="'addons.'+cat" ng-show="cat != ''" class="{{IfElse( Category == cat, 'active', 'notactive' )}}"></a>

				<ul ng-show="Category == cat">
					<li ng-repeat="tag in AddonTypes" class="clickable {{IfElse( Tagged == tag, 'active', 'notactive' )}}">
						<a ng-click="SwitchWithTag( cat, 0, tag )" ng-Tranny="'addons.'+tag" ng-show="tag != ''" class="{{IfElse( Tagged == tag, 'active', 'notactive' )}}">{{subcat}}</a>
					</li>
				</ul>
			</li>

			<li>&nbsp;</li>

			<li ng-repeat="cat in CategoriesSecondary" class="clickable {{IfElse( Category == cat, 'active', 'notactive' )}}">
				<a ng-click="SwitchWithTag( cat, 0, 'Addon' )" ng-Tranny="'addons.' + cat" ng-show="cat != ''" class="{{IfElse( Category == cat, 'active', 'notactive' )}}"></a>

				<ul ng-show="Category == cat">
					<li ng-repeat="tag in AddonTypes" class="clickable {{IfElse( Tagged == tag, 'active', 'notactive' )}}">
						<a ng-click="SwitchWithTag( cat, 0, tag )" ng-Tranny="'addons.'+tag" ng-show="tag != ''" class="{{IfElse( Tagged == tag, 'active', 'notactive' )}}">{{subcat}}</a>
					</li>
				</ul>
			</li>

			<li>&nbsp;</li>

			<li><a ng-click="OpenWorkshop()" ng-Tranny="'addons.openworkshop'"></a></li>
		</ul>
	</div>

	<div style="position: absolute; left: 320px; top: 16px; bottom: 16px; right: 16px; padding: 16px; padding-top: 0;">
		<h1 class="menuheader">
			<span ng-Tranny="(Tagged == '' || Tagged == 'Addon') && 'addons.'+Category || 'addons.'+Tagged">...</span>
			<small ng-Tranny="(Tagged == '' || Tagged == 'Addon') && 'addons.'+Category + '.subtitle' || 'addons.'+Tagged+'.subtitle'">...</small>
		</h1>

		<workshopcontainer>
			<workshopmessage ng-show="Loading" ng-Tranny="'addons.loading'">...</workshopmessage>
			<workshopmessage ng-show="TotalResults == 0 && !Loading && !Disabled" ng-Tranny="'addons.none'">...</workshopmessage>
			<workshopmessage ng-show="TotalResults == 0 && !Loading && Disabled" ng-Tranny="'addons.disabled'">...</workshopmessage>

			<workshopicon ng-hide="Loading" ng-repeat="file in Files" style="width: {{IconWidth|number:0}}px; height: {{IconHeight|number:0}}px"  class="{{IfElse( IsSubscribed( file ) && !IsEnabled( file ), 'disabled', '' )}} {{IfElse( IsSubscribed( file ), 'installed', '' )}}">

				<preview ng-hide="file.background == nil" style="width: {{IconMax|number:0}}px; height: {{IconMax|number:0}}px; margin-left: -{{IconMax*0.5|number:0}}px; margin-top: -{{IconMax*0.5|number:0}}px">
					<img src='../{{file.background}}' style="width: {{IconMax|number:0}}px; height: {{IconMax|number:0}}px;"/>
				</preview>

				<name ng-click="OpenWorkshopFile( file.id )">{{file.info.title}}</name>
				<author ng-hide="file.local">{{file.info.ownername}}</author>
				<votes ng-show="!file.local && (file.info.up-file.info.down) > 0" style="color: #4a4">+{{file.info.up-file.info.down|number:0}}</votes>
				<votes ng-show="!file.local && (file.info.up-file.info.down) < 0" style="color: #a44">{{file.info.up-file.info.down|number:0}}</votes>
				<description>{{file.info.description}}</description>
				<input type="checkbox" class="checkbox" ng-show="Category == 'subscribed'" ng-model="SelectedItems[ file.id ]" <!--ng-click="$event.stopPropagation()"-->> 

				<controls ng-show="!file.info.floating">
					<left>
						<control ng-hide="file.local || file.rated" ng-click="Rate( file, true )"><img src='img/thumb-up.png' /></control>
						<control ng-hide="file.local || file.rated" ng-click="Rate( file, false )"><img src='img/thumb-down.png' /></control>
						<control ng-show="file.local" ng-click="PublishLocal( file )" ng-Tranny="'demos.publish'">..</control>
						<control ng-show="file.local" ng-click="DeleteLocal( file )" ng-Tranny="'demos.delete'">..</control>
					</left>

					<right>
						<control ng-show="IsSubscribed( file ) && IsEnabled( file )" ng-click="Disable( file )" ng-Tranny="'addon.disable'">..</control>
						<control ng-show="IsSubscribed( file ) && !IsEnabled( file )" ng-click="Enable( file )" ng-Tranny="'addon.enable'">..</control>

						<control ng-hide="IsSubscribed( file ) || Disabled" ng-click="Subscribe( file )" ng-Tranny="'addon.subscribe'">..</control>
						<control ng-show="IsSubscribed( file )" ng-click="Unsubscribe( file )" ng-Tranny="'addon.unsubscribe'">..</control>
					</right>
				</controls>

			</workshopicon>
		</workshopcontainer>

		<center>
			<pagnation ng-hide="Loading || TotalResults == 0">
				<a class="back" ng-click="Go( PerPage * -1 )">&nbsp;</a>
				<a class="next" ng-click="Go( PerPage * 1 )">&nbsp;</a>

				<div style="overflow: hidden; margin-top: 3px;">
					<span ng-repeat="p in Pages"><a ng-show="p == Page" ng-click="GoToPage( p )"><img src='img/page_active.png?1' /></a><a ng-hide="p == Page"ng-click="GoToPage( p )"><img src='img/page_active.png?1' style="opacity: 0.5"/></a></span>
				</div>
			</pagnation>
		</center>
	</div>

	<!-- Angular is bad -->
	<div class="modaldialog" ng-show="PopupMessageDisplayed">
		<div class="centermessage">
			<label ng-tranny="'addons.warning'"></label>
			<label ng-tranny="PopupMessageDisplayedMessage"></label>
			<label ng-tranny="'addons.cannotundo'" ng-show="PopupMessageDisplayedMessage == 'addons.uninstallall.warning' || PopupMessageDisplayedMessage == 'addons.uninstall_selected.warning'"></label>
			<a ng-click="ExecutePopupFunction()" ng-tranny="'addons.confirm'" class="confirm"></a>
			<a ng-click="ClosePopupMessage()" ng-tranny="'addons.cancel'"></a>
		</div>
	</div>
</div>