
	<div class="page" ng-controller="ControllerServers">

		<div class="options">

			<ul>

				<li><h2 ng-tranny="'server_list'"></h2></li>
				<li class="small" style="margin-top: -1.5em;">{{ServerCount[ ServerType ]}} <span ng-tranny="'servers_servercount'"></span></li>
				<li class="small">{{GamemodeList.length}} <span ng-tranny="'servers_gmcount'"></span></li>
				<li>&nbsp;</li>
				<li><a class="{{IfElse( ServerType == 'internet', 'active', '' )}}" ng-tranny="'servers_internet'" ng-click="SwitchType( 'internet' )"></a></li>
				<li><a class="{{IfElse( ServerType == 'favorite', 'active', '' )}}" ng-tranny="'servers_favorites'" ng-click="SwitchType( 'favorite' )"></a></li>
				<li><a class="{{IfElse( ServerType == 'history', 'active', '' )}}" ng-tranny="'servers_history'" ng-click="SwitchType( 'history' )"></a></li>
				<li><a class="{{IfElse( ServerType == 'lan', 'active', '' )}}" ng-tranny="'servers_local'" ng-click="SwitchType( 'lan' )"></a></li>
				<li ng-show="( CurrentGamemode == null && Refreshing[ ServerType ] == 'false' ) || (Refreshing[ ServerType ] == 'true')">&nbsp;</li>
				<li ng-hide="CurrentGamemode != null || Refreshing[ ServerType ] == 'true'"><a ng-tranny="'servers_refresh'" ng-click="Refresh()">refresh</a></li>
				<li ng-hide="Refreshing[ ServerType ] == 'false'"><a ng-tranny="'servers_stoprefresh'" ng-click="DoStopRefresh()">Stop refresh</a></li>
				<li>&nbsp;</li>
				<li><a ng-click="MenuOption( this, 'OpenServerBrowser')" ng-Tranny="'legacy_browser'"></a></li>
				<li>&nbsp;</li>
				<li class="sb_filters" ng-hide="CurrentGamemode != null">
					<span ng-Tranny="'addons.sort_by'"></span><br/>
					<input type="radio" name=gmsort" value="-(order)" ng-model="GMSort"/><label ng-Tranny="'gmsort_players'"></label><br>
					<input type="radio" name=gmsort" value="-(num_servers)" ng-model="GMSort"/><label ng-Tranny="'gmsort_servers'"></label><br>
					<input type="radio" name=gmsort" value="info.title" ng-model="GMSort"/><label ng-Tranny="'gmsort_name'"></label><br>
					<span ng-Tranny="'addons.filter_by'"></span><br/>
					<div ng-repeat="cat in GMCats">
						<input type="checkbox" id="gmfltr_hide_{{cat}}" onclick="SwitchFilter( '{{cat}}', this )"/><label ng-Tranny="'gmfltr_hide_' + cat"></label>
						<img class="gmfilter_rev" src="img/remove.png" onclick="ReverseFilter( '{{cat}}', this )" /><br>
					</div>
					<input type="text" ng-model="GMSearch" class="gm_search" ng-Tranny="'gmsearch_placeholder'" /><br/>
				</li>
				<li class="sb_filters" ng-show="CurrentGamemode != null">
					<label ng-Tranny="'svfltr_ply_limit'"></label><br/>
					<input ng-model="SVFilterPlyMin" type="number" class="smalltextbox" placeholder="0`"/>
					&nbsp;-&nbsp;
					<input ng-model="SVFilterPlyMax" type="number" class="smalltextbox" placeholder="128"/><br/>
					<label ng-Tranny="'svfltr_ping_limit'"></label><br/>
					<input ng-model="SVFilterMaxPing" type="number" class="smalltextbox" placeholder="2000"/><br/>
					<input type="checkbox" ng-model="SVFilterNotFull"/><label ng-Tranny="'svfltr_not_full'"></label><br>
					<input type="checkbox" ng-model="SVFilterHasPly"/><label ng-Tranny="'svfltr_has_players'"></label><br>
					<input type="checkbox" ng-model="SVFilterHidePass"/><label ng-Tranny="'svfltr_no_password'"></label> <img class="passworded" src='img/server-passworded.png'/>

					<div class="flags_filter" ng-show="CurrentGamemode.hasflags">
						<img ng-repeat="(flag, whatever) in CurrentGamemode.flags" class="flag {{FilterFlagClass( flag )}}" src='asset://garrysmod/materials/flags16/{{flag}}.png' ng-click="FilterFlag( flag, this );" onerror="MissingFlag( this )"/>
					</div>
				</li>
			</ul>

		</div>

		<div class="innerpage" ng-hide="CurrentGamemode != null">

			<h1 class="menuheader">
				<span ng-Tranny="'servers_gamemodes'"></span>
				<small ng-Tranny="'servers_gamemodes.subtitle'"></small>
			</h1>

			<div class='server_gamemodes whiterounded scrollable'>

				<div class='gamemode {{gamemode.element_class}}' ng-repeat="gamemode in GamemodeList | filter: gamemodeFilter | orderBy:[GMSort, '-(num_players)', 'name' ]" ng-click="SelectGamemode( gamemode )">

					<img src='../gamemodes/{{gamemode.name}}/icon24.png' onerror="MissingGamemodeIcon( this )"/>

					<div class='stats'>{{gamemode.num_players}} <span ng-tranny="gamemode.num_players == 1 && 'servers_player_on' || 'servers_players_on'"></span> {{gamemode.num_servers}} <span ng-tranny="gamemode.num_servers == 1 && 'servers_server' || 'servers_servers'"></span></div>
					<div class='name'>
						{{GamemodeName(gamemode)}}<tag ng-show="gamemode.info && gamemode.info.tag" ng-Tranny="'gmfltr_hide_' + gamemode.info.tag">{{gamemode.info.tag}}</tag>
					</div>

					<span class='installgamemode' ng-show="ShouldShowInstall( gamemode )" ng-click="InstallGamemode( gamemode );$event.stopPropagation()">&nbsp;</span>

				</div>

			</div>

		</div>

		<div class="innerpage" ng-show="CurrentGamemode != null">

			<h1 class="menuheader">
				<span>{{GamemodeName(CurrentGamemode)}}</span>
				<small ng-tranny="'join_a_server'"></small>
			</h1>

			<div class='installgamemode' ng-show="ShouldShowInstall( CurrentGamemode )" ng-click="InstallGamemode( CurrentGamemode );$event.stopPropagation()" ng-tranny="'servers_install_gamemode'"></div>

			<div class='controls' style='position: absolute; left: 0; right: 0; margin-top: 5px;'>
				<input type="text" ng-model="CurrentGamemode.Search" class="searchbox" ng-Tranny="'svsearch_placeholder'" />
				<a class='bglink' ng-click="SelectGamemode(null)"><img src='img/bg_arrow_left.png' /> <span ng-tranny="'return_to_gamemodes'"></span></a>
			</div>

			<div class='serverlist'>

				<div class='header'>
					<name ng-click="ChangeOrder( CurrentGamemode, 'name' )" ng-tranny="'server_name_header'"></name>
					<ping ng-click="ChangeOrder( CurrentGamemode, 'ping' )" ng-tranny="'server_ping'"></ping>
					<players ng-click="ChangeOrder( CurrentGamemode, '-players' )" ng-tranny="'server_players'"></players>
					<map ng-click="ChangeOrder( CurrentGamemode, 'map' )" ng-tranny="'server_mapname'"></map>
					<rank ng-click="ChangeOrder( CurrentGamemode, 'recommended' )" ng-tranny="'server_ranking'"></rank>
				</div>

				<div class='body scrollable'>

					<div ng-repeat="server in CurrentGamemode.servers | filter: serverFilter | orderBy: CurrentGamemode.OrderBy : CurrentGamemode.OrderReverse | limitTo:256"
						class="server {{ServerClass(server)}} {{IfElse( CurrentGamemode.Selected == server, 'activeserver', '' )}}" ng-mouseup="SelectServer( server, $event )" >
						<name>
							<a class='favbutton {{IfElse( server.favorite, "favorited", "" )}}' ng-click="ToggleFavorite( server );$event.stopPropagation();"></a>
							<img class="flag" src='asset://garrysmod/materials/flags16/{{server.flag}}.png' onerror="MissingFlag( this )" ng-show="server.flag"/>
							<img class="passworded" src='img/server-passworded.png' ng-show="server.pass"/>
							<span>{{server.name}}<tag ng-show="server.version_c<0">Outdated: {{server.version}}</tag><tag class="future" ng-show="server.version_c>0">Future version: {{server.version}}</tag></span>
						</name>
						<ping>{{server.ping}}</ping>
						<players>{{server.players}} / {{server.maxplayers}}</players>
						<map>{{server.map}}</map>
						<rank class='{{ServerRank(server)}}'>&nbsp;
						</rank>
					</div>

				</div>

			</div>

			<div class='serverinfo' ng-show="CurrentGamemode.Selected">
				<div>

					<header>
						<div class="cell" style="padding-bottom: 5px;">
							<name>{{CurrentGamemode.Selected.name}}</name>
							<address>{{CurrentGamemode.Selected.address}}</address>
						</div>
					</header>

					<players>
						<table style="font-size: 12px; padding: 8px; width: 100%;">

							<tr style="color: #999; font-weight: bold;">
								<td class="pname" ng-tranny="'playerlist_name'"></td>
								<td style="text-align: center;" ng-tranny="'playerlist_score'"></td>
								<td style="text-align: right;" ng-tranny="'playerlist_time'"></td>
							</tr>

							<tr ng-repeat="player in CurrentGamemode.Selected.playerlist|orderBy:'time'">
								<td class="pname">{{player.name}}</td>
								<td style="text-align: center;">{{player.score}}</td>
								<td style="text-align: right;" ng-Seconds="player.time"></td>
							</tr>
						</table>
					</players>

					<footer>
						<div class="cell" style="padding-top: 5px;">
							<input type='password' ng-model="CurrentGamemode.Selected.password" ng-show="CurrentGamemode.Selected.pass" ui-keypress="{'enter':'JoinServer( CurrentGamemode.Selected )'}" placeholder="Password" />

							<button class="{{IfElse( CurrentGamemode.Selected.players < CurrentGamemode.Selected.maxplayers, 'btn-primary', 'btn-primary-disabled' )}}"
								ng-click="JoinServer( CurrentGamemode.Selected )"
								ng-tranny="CurrentGamemode.Selected.players < CurrentGamemode.Selected.maxplayers && 'servers_join_server' || 'servers_join_server_full'">
							</button>

						</div>
					</footer>

				</div>
			</div>

		</div>

	</div>
