
// load the base configuration
//exec default.cfg

// Setup custom controller
exec joystick.cfg

// Run network settings
exec network.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

//startupmenu
