
<div class="page" ng-controller="ControllerSaves">

	<div style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px;">

		<workshopcontainer>

			<workshopmessage ng-show="Loading" ng-Tranny="'saves.loading'">...</workshopmessage>
			<workshopmessage ng-show="( TotalResults == 0 || NumResults == 0 ) && !Loading" ng-Tranny="'saves.noneonmap'">...</workshopmessage>

			<workshopicon ng-hide="Loading" ng-repeat="file in Files" style="width: {{IconWidth|number:0}}px; height: {{IconHeight|number:0}}px">

				<preview ng-hide="file.background == nil" style="width: {{IconMax|number:0}}px; height: {{IconMax|number:0}}px; margin-left: -{{IconMax*0.5|number:0}}px; margin-top: -{{IconMax*0.5|number:0}}px">
					<img src='../{{file.background}}' style="width: {{IconMax|number:0}}px; height: {{IconMax|number:0}}px;"/>
				</preview>

				<name>
					<label ng-click="OpenWorkshopFile( file.id )">{{file.info.title}}<span ng-if="!file.info.title" ng-Tranny="'ugc.loading'"></label>
				</name>

				<author ng-hide="file.local">{{file.info.ownername}}<span ng-if="!file.info.ownername" ng-Tranny="'ugc.loading'"></span></author>

				<votes ng-show="!file.local && (file.vote.up-file.vote.down) > 0" style="color: #4a4">+{{file.vote.up-file.vote.down|number:0}}</votes>
				<votes ng-show="!file.local && (file.vote.up-file.vote.down) < 0" style="color: #a44">{{file.vote.up-file.vote.down|number:0}}</votes>

				<description>{{file.info.description}}</description>

				<controls>

					<left>
					<!--
						<control ng-hide="file.local || file.rated" ng-click="Rate( file, true )"><img src='img/thumb-up.png' /></control>
						<control ng-hide="file.local || file.rated" ng-click="Rate( file, false )"><img src='img/thumb-down.png' /></control>
					-->
						<control ng-show="file.local" ng-click="PublishLocal( file )" ng-Tranny="'saves.publish'">..</control>
						<control ng-show="!file.local" ng-click="OpenWorkshopFile( file.id )" ng-Tranny="'saves.commentandrate'">..</control>

					</left>

					<right>
						<control ng-click="LoadSave( file )" ng-Tranny="'saves.load'">..</control>
					</right>

				</controls>

			</workshopicon>

			<center>
				<pagination ng-hide="Loading || TotalResults == 0">

					<a class="back" ng-click="Go( PerPage * -1 )">&nbsp;</a>
					<a class="next" ng-click="Go( PerPage * 1 )">&nbsp;</a>

					<div class="pages">
						<span ng-repeat="p in Pages"><a class="{{IfElse( p == Page, 'active', '' )}} page" ng-click="GoToPage( p )"><img src='img/pagination_page.png?1' /></a></span><br>
					</div>
					<span class="pagenum">{{Page}}</span>

				</pagination>
			</center>

		</workshopcontainer>

	</div>

</div>