<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Saves</title>

		<link rel="stylesheet" type="text/css" href="css/Base.css" />
		<link rel="stylesheet" type="text/css" href="css/Addons.css" />
		<link rel="stylesheet" type="text/css" href="css/Creations.css" />
	</head>

	<body>
		<div id="app"></div>

		<script type="text/javascript" src="js/lib/vue2.min.js"></script>

		<script type="text/javascript" src="js/core/env.js"></script>
		<script type="text/javascript" src="js/core/lua.js"></script>
		<script type="text/javascript" src="js/core/i18n.js"></script>
		<script type="text/javascript" src="js/core/utils.js"></script>

		<script
			type="text/javascript"
			src="js/state/subscriptions-store.js"
		></script>
		<script
			type="text/javascript"
			src="js/state/workshop-store.js"
		></script>
		<script type="text/javascript" src="js/state/menu-store.js"></script>
		<script type="text/javascript" src="js/state/stores.js"></script>

		<script type="text/javascript" src="js/core/api.js"></script>

		<script type="text/javascript" src="js/ui/components.js"></script>
		<script
			type="text/javascript"
			src="js/pages/page-creations.js"
		></script>

		<script type="text/x-template" id="tpl-creations-app">
			<div class="options">
				<ul>
					<li class="headline">{{ t(titleKey) }}</li>
					<li class="subtitle"></li>

					<li v-for="cat in myCategories" :key="'m' + cat">
						<a :href="'#/list/' + cat + '/'" :class="{ active: store.category === cat }">{{ t(titleKey + '.' + cat) }}</a>
						<ul v-if="cat === store.category && cat !== 'local'" style="margin-top: 4px; margin-bottom: 15px;">
							<li v-for="tag in subCategories" :key="'m' + cat + tag">
								<a :href="'#/list/' + cat + '/' + tag + '/'" :class="{ active: store.tagged === tag }">{{ t(titleKey + '.' + tag) }}</a>
							</li>
						</ul>
					</li>

					<li class="spacer">&nbsp;</li>

					<li v-for="cat in categories" :key="cat">
						<a :href="'#/list/' + cat + '/'" :class="{ active: store.category === cat }">{{ t(titleKey + '.' + cat) }}</a>
						<ul v-if="cat === store.category" style="margin-top: 4px; margin-bottom: 15px;">
							<li v-for="tag in subCategories" :key="cat + tag">
								<a :href="'#/list/' + cat + '/' + tag + '/'" :class="{ active: store.tagged === tag }">{{ t(titleKey + '.' + tag) }}</a>
							</li>
						</ul>
					</li>

					<li class="spacer">&nbsp;</li>

					<li v-for="cat in categoriesSecondary" :key="'s' + cat">
						<a :href="'#/list/' + cat + '/'" :class="{ active: store.category === cat }">{{ t(titleKey + '.' + cat) }}</a>
						<ul v-if="cat === store.category" style="margin-top: 4px; margin-bottom: 15px;">
							<li v-for="tag in subCategories" :key="'s' + cat + tag">
								<a :href="'#/list/' + cat + '/' + tag + '/'" :class="{ active: store.tagged === tag }">{{ t(titleKey + '.' + tag) }}</a>
							</li>
						</ul>
					</li>

					<li class="spacer">&nbsp;</li>

					<li><button @click="saveAction()" :disabled="saveDisabled"
						:class="[isSavesFlag ? 'savegamebutton' : 'savedupebutton', saveDisabled ? 'disabled' : '']">..
					</button></li>
				</ul>
			</div>
		</script>

		<script type="text/x-template" id="tpl-creations-content">
			<div class="page">
				<div style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px;">
					<workshopcontainer>
						<workshopmessage v-if="store.loading">{{ t(titleKey + '.loading') }}</workshopmessage>
						<workshopmessage v-if="(store.totalResults === 0 || store.numResults === 0) && !store.loading">{{ t(titleKey + '.noneonmap') }}</workshopmessage>

						<WbEntry v-for="file in store.files" :key="file.order" :file="file" :store="store" :mode="titleKey === 'saves' ? 'saves' : 'dupes'" standalone></WbEntry>

						<center>
							<WbPagination :store="store"></WbPagination>
						</center>
					</workshopcontainer>
				</div>
			</div>
		</script>

		<script type="text/javascript">
			window.addEventListener("DOMContentLoaded", function () {
				startCreationsApp("saves");
			});
		</script>
	</body>
</html>
