.maplist {
	position: absolute;
	left: 16px;
	right: 256px;
	top: 16px;
	bottom: 16px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
}

.maplist .controls {
	position: absolute;
	left: 10px;
	top: 10px;
	bottom: 10px;
	width: 190px;
}

.controls ul {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 32px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
}

.controls li.category {
	position: relative;
	height: 26px;
	margin-bottom: 5px;
	background-color: #ddd;
	border-radius: 3px;
	color: #555;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}

.controls li.category:hover {
	background-color: #ccc;
}

.controls li.active {
	background-color: #9cf !important;
	color: #333;
}

.controls li.category .name {
	position: absolute;
	left: 6px;
	right: 32px;
	top: 6px;
	bottom: 0;
	overflow: hidden;
	white-space: nowrap;
}

.controls li.category .count {
	float: right;
	margin: 5px;
	padding: 2px 5px;
	background-color: #fff;
	border-radius: 3px;
	color: #aaa;
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
}

.controls .search {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 4px;
}

.category {
	margin: 10px;
	padding: 0;
}

.category li:first-child {
	list-style: none;
	padding: 5px;
	color: #444;
	font-size: 32px;
}

.category li:first-child small {
	color: #999;
	font-size: 14px;
}

.category li.icon {
	display: inline-block;
}

.category li.mapicon {
	position: relative;
	width: 128px;
	margin: 2px;
	padding: 6px;
	text-align: center;
	font-size: 10px;
	vertical-align: top;
	cursor: pointer;
}

.category li.mapicon span {
	word-break: break-all;
}

.category li.mapicon.selected {
	background-color: #97c5ff;
	border-radius: 3px;
}

.category li.mapicon img.thumbnail {
	width: 128px;
	height: 128px;
}

.category li.mapicon img.favtoggle {
	position: absolute;
	right: 8px;
	top: 8px;
	visibility: hidden;
	background-image: url("../img/favourite.png?1");
}

.category li.mapicon:hover img.favtoggle,
.category li.mapicon.favmap img.favtoggle {
	visibility: visible;
}

.category li.mapicon img.favtoggle:hover {
	background-image: url("../img/favourite_add.png?1");
}

.category li.mapicon.favmap img.favtoggle:hover {
	background-image: url("../img/favourite_remove.png?1");
}

gamesettings {
	position: absolute;
	right: 16px;
	top: 16px;
	bottom: 16px;
	width: 226px;
	background-color: white;
	border-radius: 5px;
}

gamesettings bottom {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

gamesettings bottom button {
	position: absolute;
	left: 8px;
	right: 8px;
	bottom: 8px;
	width: calc(100% - 36px);
	margin: 10px;
	padding: 10px;
	font-size: 20px;
}

gamesettings select {
	width: 100%;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 3px;
}

gamesettings .scrollable {
	overflow-y: scroll;
	margin: 10px;
	margin-right: 0;
	padding-right: 2px;
}

gamesettings .control {
	margin-top: 8px;
}

gamesettings .control:first-child {
	margin-top: 6px;
}

gamesettings .control label {
	color: #666;
	font-size: 11px;
}

gamesettings .control:not(.control-numeric):not(.control-text) label {
	position: relative;
	top: -2px;
}

gamesettings .control-text label {
	display: block;
	margin-bottom: 2px;
}

gamesettings .control-numeric {
	margin-top: 4px;
	overflow: hidden;
}

gamesettings .control-numeric label {
	line-height: 20px;
}

gamesettings .control-numeric input[type="text"] {
	float: right;
	width: 44px;
	height: 20px;
	padding: 2px;
}

gamesettings .control input[type="text"] {
	width: 100%;
	padding: 4px;
}

.dropdown {
	position: relative;
	z-index: 100;
}

.dropdown .label {
	height: 28px;
	padding-left: 10px;
	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		from(#5c5),
		to(#22bd22)
	);
	border: 1px solid #ccc;
	border-color: #2a2 #2a2 #181;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	line-height: 28px;
	vertical-align: middle;
	cursor: pointer;
	-webkit-box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, 0.2),
		0 1px 2px rgba(0, 0, 0, 0.05);
}

.dropdown .label:hover {
	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		from(#6d6),
		to(#3c3)
	);
}

.dropdown .contents {
	position: absolute;
	left: 0;
	right: 0;
	top: 31px;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	font-size: 13px;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.dropdown .contents div {
	padding: 4px 15px;
}

.dropdown .contents div:hover {
	background-color: #acf;
}

.caret {
	float: right;
	width: 0;
	height: 0;
	margin-top: 10px;
	margin-right: 10px;
	border-top: 5px solid white;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: "";
	vertical-align: top;
}
