.servers {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
}

.gamemode {
	position: relative;
	height: 34px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px 20px;
	background-color: #efefef;
	background-image: -webkit-linear-gradient(
		bottom,
		rgb(230, 230, 230) 1%,
		rgb(240, 240, 240) 99%
	);
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
}

.gamemode:hover {
	background-image: -webkit-linear-gradient(
		bottom,
		rgb(250, 230, 150) 1%,
		rgb(250, 250, 150) 99%
	);
}

.gamemode img {
	position: absolute;
	left: 5px;
	top: 9px;
	width: 24px;
	height: 24px;
	font-weight: bold;
}

.gamemode .name {
	position: absolute;
	left: 40px;
	top: 5px;
	font-size: 20px;
	font-weight: bold;
	white-space: nowrap;
}

.gamemode .name tag {
	margin-left: 10px;
	padding: 1px 12px;
	padding-bottom: 2px;
	background: #2387ed;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	position: relative;
	top: -4px;
}

.gamemode .stats {
	position: absolute;
	left: 43px;
	bottom: 3px;
	color: #555;
	font-size: 11px;
	text-align: right;
}

.server-layout {
	position: absolute;
	left: 0;
	right: 0;
	top: 90px;
	bottom: 0;
	display: -webkit-box;
	-webkit-box-pack: justify;
	-webkit-box-align: start;
}

.server-list {
	-webkit-box-flex: 1;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	padding: 10px;
	background-color: white;
	border-radius: 4px;
}

.server-list.found-servers {
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: 5px;
	padding: 1px;
}

.server-list .server {
	display: -webkit-box;
	height: 16px;
	padding: 3px 4px;
	background-color: #e7f0ff;
	color: #444;
	line-height: 16px;
	-webkit-box-pack: justify;
	-webkit-box-align: stretch;
	cursor: pointer;
}

.server-list .server:nth-child(odd) {
	background-color: #f1f6ff;
}

.server-list .server:hover {
	background-color: #b7ddfd;
}

.server-list .server rank {
	background-image: url("../img/rank1.png?1");
}

.server-list .server rank.rank5 {
	background-image: url("../img/rank5.png?1");
}

.server-list .server rank.rank4 {
	background-image: url("../img/rank4.png?1");
}

.server-list .server rank.rank3 {
	background-image: url("../img/rank3.png?1");
}

.server-list .server rank.rank2 {
	background-image: url("../img/rank2.png?1");
}

.server-list name,
.server-list ping,
.server-list maxplayers,
.server-list players,
.server-list map,
.server-list rank,
.server-list lastvisited {
	display: block;
	font-size: 11px;
	overflow: hidden;
	text-align: center;
	width: 50px;
}

.server-list name {
	margin-right: 3px;
	font-size: 13px;
	line-height: 17px;
	white-space: nowrap;
	text-align: left;
	width: auto;
	-webkit-box-flex: 1;
}

.server-list name span {
	vertical-align: top;
}

.server-list name tag {
	display: inline-block;
	margin-left: 5px;
	margin-top: 2px;
	padding: 1px 10px;
	background: #ffcfcf;
	color: #000;
	font-size: 10px;
	font-weight: normal;
	line-height: normal;
	vertical-align: top;
}

.server-list name tag.future {
	background: #e6e6e6;
	color: #000;
}

.server-list name .flag {
	position: relative;
	top: -2px;
}

.server-list name .passworded {
	margin-right: 4px;
}

.server-list map {
	width: 90px;
	text-align: left;
}

.server-list players {
	width: 48px;
}

.server-list ping {
	width: 32px;
}

.server-list rank {
	width: 64px;
}

.server-list lastvisited {
	width: auto;
	padding-right: 5px;
	text-align: right;
}

.server-list .empty {
	color: #777;
}

.server-list .missingmap map {
	color: #955;
}

.server-list .empty players {
	color: #daa;
}

.server-list .header {
	position: absolute;
	left: 8px;
	right: 8px;
	top: 8px;
	display: -webkit-box;
	padding: 4px;
	background-color: #2387ed;
	border-radius: 4px 4px 0 0;
	color: #fff;
	font-size: 11px;
	line-height: 16px;
	-webkit-box-pack: justify;
	-webkit-box-align: stretch;
}

.server-list .body {
	left: 8px;
	right: 8px;
	top: 32px;
	bottom: 8px;
}

.server-list .header name,
.server-list .header ping,
.server-list .header maxplayers,
.server-list .header players,
.server-list .header map,
.server-list .header rank {
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
}

.serverinfo {
	box-sizing: border-box;
	height: 100%;
	width: 280px;
	margin-left: 10px;
	padding: 10px 15px;
	background-color: white;
	border-radius: 4px;
}

.serverinfo > div {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.serverinfo div.cell {
	display: table-cell;
}

.serverinfo header {
	display: table-row;
	height: 0;
}

.serverinfo footer {
	display: table-row;
	height: 0;
	margin-top: 5px;
}

.serverinfo name {
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;
	overflow: hidden;
	-webkit-user-select: text;
}

.serverinfo address {
	font-size: 12px;
	text-align: left;
	-webkit-user-select: text;
}

.serverinfo subinfo {
	display: block;
	color: #444;
}

.serverinfo button {
	width: 100%;
	font-size: 30px;
}

.serverinfo players {
	display: block;
	height: 100%;
	background-color: #eee;
	border-radius: 4px;
	overflow: auto;
}

.serverinfo players .pname {
	max-width: 170px;
	overflow: hidden;
}

.serverinfo footer input[type="password"] {
	width: 100%;
	margin-bottom: 5px;
	padding: 4px;
}

.serverinfo .close-btn {
	position: absolute;
	right: 1px;
	top: 1px;
	width: 21px;
	height: 21px;
	background: #1a8cff url("../img/cross.png") no-repeat center;
	background-size: 15px;
	border-radius: 4px;
	cursor: pointer;
}

.serverinfo .close-btn:hover {
	background-color: #4f9ded;
}

.activeserver {
	background-color: #ffa !important;
}

.noplayers {
	opacity: 0.4;
}

.install-gamemode {
	z-index: 100;
	position: absolute;
	top: 10px;
	right: 0;
	height: 25px;
	padding: 5px;
	padding-left: 36px;
	background: #2387ed url("../img/gm_install32.png") no-repeat 6px center;
	border: 2px solid white;
	border-radius: 5px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
	cursor: pointer;
}

.install-gamemode:hover {
	background-color: #4f9ded;
}

span.install-gamemode {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 42px;
	background: #2387ed url("../img/gm_install16.png") no-repeat 13px center;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
}

span.install-gamemode:hover {
	background-color: #4f9ded;
}

.gamemodes-panel {
	background-color: white;
	border-radius: 4px;
	position: absolute;
	left: 0;
	right: 0;
	top: 64px;
	bottom: 0;
	border: 5px solid white;
}

.gamemodes-scroll {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.add-favorite {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	padding: 5px 10px;
	background-color: #ddd;
}

.add-favorite div.header {
	display: -webkit-box;
}

.add-favorite div.header span {
	display: -webkit-box;
	-webkit-box-flex: 1;
	line-height: 24px;
}

.add-favorite div.header div.fav-inputs {
	display: -webkit-box;
	-webkit-box-pack: end;
}

.add-favorite input {
	width: 200px;
	height: 24px;
	padding: 4px;
	border: 1px solid #abadb3;
	border-radius: 3px;
}

.add-favorite button {
	height: 24px;
	margin-left: 5px;
	padding: 4px 8px;
	background-color: #2387ed;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}

.add-favorite button:hover {
	background-color: #4f9ded;
}

.btn-blue {
	position: absolute;
	display: inline-block;
	margin-top: 4px;
	padding: 8px 10px;
	background-color: #2387ed;
	border-radius: 3px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.btn-blue:hover {
	background-color: #4f9ded;
}

.btn-blue img {
	vertical-align: middle;
}

.controls .searchbox {
	width: 15%;
	min-width: 150px;
	height: auto;
	margin-top: 4px;
	margin-right: 0;
	padding: 7px 10px;
	border-radius: 2px;
}

.small {
	font-size: 16px;
}

.input-small {
	width: 70px;
	padding: 2px 10px;
	border-radius: 2px;
	text-align: center;
}

div.page .options ul li.filters {
	font-size: 16px;
	margin-right: 42px;
}

div.page .options ul li.filters-separator {
	margin-right: 42px;
	margin-bottom: 24px;
	border-top: 1px solid white;
	box-shadow: 1px 1px 1px black;
}

div.page .options ul li.filters .passworded {
	vertical-align: text-top;
}

.filter-reverse {
	margin-left: 3px;
	margin-top: -2px;
	vertical-align: middle;
	cursor: pointer;
}

.flags-filter {
	margin-top: 5px;
	padding: 4px;
	background: #9c9c9c;
	border-radius: 4px;
	text-align: center;
}

.flags-filter .flag {
	margin: 0 2px;
	margin-bottom: 4px;
	padding: 3px;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.flags-filter .flag.prefer {
	background: #4eda6c;
}

.flags-filter .flag.avoid {
	background: #da4e4e;
}

name .favbutton {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background: url("../img/notfavourite.png");
}

name .favbutton:hover {
	background: url("../img/notfavourite_add.png");
}

name .favbutton.favorited {
	background: url("../img/favourite.png");
}

name .favbutton.favorited:hover {
	background: url("../img/favourite_remove.png");
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

@media screen and (min-width: 1280px) {
	.server-list ping,
	.server-list maxplayers,
	.server-list players,
	.server-list map,
	.server-list rank {
		font-size: 13px;
	}

	.server-list name {
		font-size: 13px;
		font-weight: bold;
	}

	.server-list map {
		width: 130px;
	}

	.server-list .header name {
		padding: 0;
	}

	.gamemodes-panel {
		background-color: white;
		border-radius: 4px;
		margin: 0 auto;
		width: 80%;
		max-width: 1000px;
	}
}

@media screen and (min-width: 1650px) {
	.server-list map {
		width: 170px;
	}
}

@media screen and (max-width: 1650px) {
	.server-list lastvisited lbl {
		display: none;
	}
}

@media screen and (max-width: 1366px) {
	.serverinfo {
		width: 215px;
	}

	div.page.server-browser .innerpage {
		left: 250px;
		right: 5px;
	}

	div.page.server-browser .options {
		padding-left: 5px;
	}

	div.page.server-browser .options ul {
		margin-left: 0;
	}
}

@media screen and (min-width: 1367px) {
	div.page.server-browser {
		margin-right: 50px;
	}
}

@media screen and (max-width: 1024px) {
	div.page.server-browser .innerpage {
		left: 180px;
	}
}

@media screen and (max-width: 900px) {
	.serverinfo players .pname {
		max-width: 95px;
	}
}

@media screen and (max-width: 1000px) {
	.innerpage {
		right: 5px;
		top: 5px;
		bottom: 5px;
	}

	.serverinfo {
		width: 150px;
		padding: 5px;
	}

	.server-list .header {
		left: 3px;
		right: 3px;
		top: 3px;
	}

	.server-list .body {
		left: 3px;
		right: 3px;
		top: 25px;
		bottom: 3px;
	}

	.server-list name {
		font-size: 11px;
		line-height: inherit;
	}

	.server-list .server:not(:hover) lastvisited {
		display: none;
	}

	.server-list lastvisited .lasttime {
		display: none;
	}

	.server-list map {
		width: 56px;
	}

	.server-list players {
		width: 46px;
	}

	.server-list ping {
		width: 18px;
	}

	.server-list rank {
		width: 16px;
	}

	.server-list .server rank {
		background-image: url("../img/ranksmall1.png");
	}

	.server-list .server rank.rank5 {
		background-image: url("../img/ranksmall5.png");
	}

	.server-list .server rank.rank4 {
		background-image: url("../img/ranksmall4.png");
	}

	.server-list .server rank.rank3 {
		background-image: url("../img/ranksmall3.png");
	}

	.server-list .server rank.rank2 {
		background-image: url("../img/ranksmall2.png");
	}
}
